* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 28px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.colorBox {
  width: 400px;
  height: 400px;
  border: 2px solid #000;
  border-radius: 0.25rem;
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 5px #000;
  text-align: center;
}

.searchbar {
  width: 400px;
}

.searchbar input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
  outline: none;
}

.searchbar label {
  position: absolute;
  left: -99999px;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: aqua;
}